{% extends 'galos/base.html' %}

{% block title%}Media |{% endblock  %}

{% load static %}

{% block content %}
<!--start page-header -->
<section id="page-header" class="parallax">
    <div class="overlay"></div>
   <div class="container">
       <h1>Media</h1>
       <!--Start Breadcrumb-->
       <!--End Breadcrumb-->
   </div>
</section>
<!--End page-header -->
<!--Start portfolio-->
<section id="works" class="section">
    <!-- Filtering -->
    <div class="title-box text-center">
    <h2 class="title">Our Media</h2>
    </div>
</section>	
 



<!-- End related works -->
{% endblock %}